@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica rg.ttf');
}

:root {
    --bg-color: #8F79EA;
}

body {
    background-color: #E6E6E6;
}

.article-author{
    font-family: "coolvetica";
}
nav {
    background-color: var(--bg-color);
}

main {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

h2 {
    margin: 10px 5px 10px 25px;
}

.nav-link.active{
    font-weight: bold;
}

.title{
    max-width:600px;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    border: none;
    padding:5px;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.btn {
  margin-top: auto;
  background-color: var(--bg-color);
  border: none;
}

.btn:hover{
    background-color: #e276c1;
}

#article-body{
    min-height: 90vh;
}

.author-img{
    position: absolute;
    width: 110%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.author-img-container:hover{
    transform: scale(1.1);
}

.author-img-container{
    padding-bottom:100%;
    width:100%;
    overflow:hidden;
    position:relative;
    border: 5px solid var(--bg-color);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.article-author{
    text-align: center;
}